// Please try to maintain the same code style as outlined here:
// https://github.com/lintelio/lintel/blob/master/CONTRIBUTING.md

// Global
$card-padding-y:        $cushion-y-md !default;
$card-padding-x:        $cushion-x-md !default;

$card-bg:               #fff !default;
$card-border:           $border-base !default;
$card-border-dark:      $border-dark !default;
$card-border-radius:    $border-radius-sm !default;
$card-box-shadow:       $box-shadow-light !default;

// Body
$card-body-padding-y:   $card-padding-y !default;
$card-body-padding-x:   $card-padding-x !default;

// Header
$card-header-padding-y: $card-padding-y !default;
$card-header-padding-x: $card-padding-x !default;

$card-header-text:      $text-base !default;

// Footer
$card-footer-padding-y: $card-padding-y !default;
$card-footer-padding-x: $card-padding-x !default;

// States
$card-primary-text:     $state-primary-text;
$card-primary-border:   $state-primary-border;

$card-secondary-text:   $state-secondary-text;
$card-secondary-border: $state-secondary-border;

$card-error-text:       $state-error-text;
$card-error-border:     $state-error-border;

$card-warning-text:     $state-warning-text;
$card-warning-border:   $state-warning-border;

$card-success-text:     $state-success-text;
$card-success-border:   $state-success-border;

$card-info-text:        $state-info-text;
$card-info-border:      $state-info-border;
