// Please try to maintain the same code style as outlined here:
// https://github.com/lintelio/lintel/blob/master/CONTRIBUTING.md

// Global
$card-padding-y:        $cushion-y-md !default;
$card-padding-x:        $cushion-x-md !default;

$card-bg:               #fff !default;
$card-border:           $border-base !default;
$card-border-dark:      $border-dark !default;
$card-border-radius:    $border-radius-sm !default;
$card-box-shadow:       $box-shadow-light !default;

// Body
$card-body-padding-y:   $card-padding-y !default;
$card-body-padding-x:   $card-padding-x !default;

// Header
$card-header-padding-y: $card-padding-y !default;
$card-header-padding-x: $card-padding-x !default;

$card-header-text:      $text-base !default;

// Footer
$card-footer-padding-y: $card-padding-y !default;
$card-footer-padding-x: $card-padding-x !default;
